<% if groups.present? %>
  <% groups.each do |group| %>
    <div id="g_title_<%= group.id %>">
      <%= render 'groups/title', group: group %>
    </div>
    <p>起票ユーザー：<%= group.user.name %></p>
    <p>説明文：<%= group.description %></p>
    <div id="g_button_<%= group.id %>">
      <%= render 'groups_users/join_button', group: group %>
    </div>
    <hr>
  <% end %>
  <%= paginate groups, remote: true %>
<% else %>
  <h3>まだグループが登録されていません</h3>
<% end %>
