<h1>グループ一覧</h1>
<%= link_to 'グループを新規作成する', new_group_path %>
<h4>現在グループ数：<%= @groups.count %>グループ</h4>
<% if @groups.present? %>
  <% @groups.each do |group| %>
    <p>タイトル：<%= group.title %></p>
    <p>起票ユーザー：<%= group.user.name %></p>
    <p>説明文：<%= group.description %></p>
    <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
  <% end %>
<% else %>
  <h3>まだグループが登録されていません</h3>
<% end %>
