<h3>グループ詳細</h3>
<% if current_user == @group.user%>
  <%= link_to '編集', edit_group_path, class: 'btn btn-xs btn-info' %>
  <%= link_to '削除', @group, method: :delete, data: { confirm: "削除しますか？"}, class: 'btn btn-danger btn-xs'%>
<% end %>
<div>
  <p>グループタイトル:<%= @group.title %></p>
  <p>グループメンバー</p>
  <% if @group_users.present? %>
    <% @group_users.each do |group_user|%>
      <span><%= group_user.name %> </span>
    <% end %>
  <% else %>
    <p>参加者無し</p>
  <% end %>
  <p>説明文：<%= @group.description %></p>
</div>
